<section class="hero is-danger is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
          <h3 class="title has-text-white">
            Admin Login
          </h3>
          <%= form_with url: admin_sessions_path, methods: :post, class:"box", local: true do |f| %>
            <div class="field">
              <%= f.label :email, class:"label" %>
              <%= f.email_field :email, class:"control input" %> 
            </div>
            <div class="field">
              <%= f.label :password, class:"label" %>
              <%= f.password_field :password, class:"control input" %> 
            </div>
            <div class="field">
              <%= f.submit "Login", class:"button is-success" %> 
            </div>
            <div class="field">
              <%= link_to "ログアウト", admin_logout_path, method: :delete, class: 'button is-danger' %>
            </div>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</section>
