<!DOCTYPE html>
<html>
  <head>
    <title>ShereTechTube</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= display_meta_tags(default_meta_tags) %>
    <%= favicon_link_tag 'desktop.png' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  </head>

  <body>
    <div id="app"></div>
    <%= javascript_pack_tag 'hello_vue.js' %>
    <%= stylesheet_pack_tag 'hello_vue' %>  
    <%= yield %>
  </body>
    <script>
    AOS.init({
      once: true
    });
  </script>
</html>
